.contact-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 联系方式 */
.main-container {
    width: 800px;
    height: 900px;

}

.main-wrap {
    width: 900px;
    height: 810px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(230, 230, 230); */
    padding: 20px;
}

/* 留言 */
.contact {
    display: flex;
    justify-content: space-between;
}

.contact-left {
    font-size: 23px;
}

.contact-left ul li {
    margin-top: 26px;
}


.message {
    margin-top: 20px;
    font-size: 20px;
}

.message ul {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between
}

.message ul li {
    margin-top: 30px;
}

.message ul li input {
    width: 315px;
    height: 40px;
}
.item{
    margin-top: 30px;
    display: flex;
}
.text {
    width: 800px;
    height: 130px;
    background-color: #fff;
   
}
.message-btn{
    margin-top: 20px;
    margin-left: 60px;
    text-align: center;
    width: 123px;
    height: 40px;
    line-height: 40px;
    background-color: skyblue;
    border-radius: 5px;
}
.message-btn:hover {
    /* opacity: 0.8; */
    box-shadow: 0 0 3px 2px #ccc;
    cursor: pointer;
}