* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 3px 4px #ccc;
}


.logo-wrapper {
    height: 50px;
    width: 100px;
}

.login-img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    float: left;
}
.sign {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 45%;
}
.bg-wrapper {
    height: 220px;
}

.login-bigimg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.login-right {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.item {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
}

input {
    width: 90%;
    height: 25px;
    padding: 1px 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #ccc;
}

input:hover {
    border: 2px solid skyblue;
}

.sign-btn {
    display: flex;
    width: 90%;
    background: skyblue;
    height: 32px;
    border-radius: 7px;
    justify-content: center;
    line-height: 32px;
    margin-top: 5%;
}

.sign-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 3px 2px #ccc;
    cursor: pointer;
}

.login-btn {
    font-size: 18px;
    font-weight: 400;
}

.register a span {
    font-size: 14px;
    color: coral;
}