.content {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.content ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.content ul li {
    text-align: center;
    width: 500px;
    height: 450px;
    background-color: #e7fafd;
    box-shadow: 2px 2px 2px #888888;
    margin: 50px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.content ul li:hover {
    box-shadow: 5px 5px 5px #888888;
    transition: 0.9s;
}

.content ul li img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.content ul li img {
    border-radius: 10px;
    width: 360px;
    height: 220px;
    display: block;
    margin: 15px 0px 0px 70px;
}

.content ul li h2 {
    /*名片标题设置*/
    color: brown;
}
 
.content ul li a {
    /*名片超链接设置*/
    text-decoration: none;
    color: rgb(34, 37, 167);
}
 
.content ul li a:hover {
    /*划过美食超链接设置*/
    color: rgb(120, 8, 109);
}
 
.content ul li p {
    /*美食段落设置*/
    margin: 5px 20px 0px 20px;
    letter-spacing: 2px;
    text-indent: 2em;
    line-height: 1.5em;
    font-size: 15px;
}

.all {
    color: blue;
    font-size: 15px;
}


a {
    animation: alink 10s ease-in;
}

* {
    /*全局选择器*/
    margin: 0px;
    padding: 0px;
}
/*head样式表*/
.head-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(87, 156, 241);
    z-index: 99;

}

.head-wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 0;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    /* 设置子元素一行显示 */
    flex-direction: row;
    /* 水平方向设置为两端对齐 */
    justify-content: flex-start;
}

.logo-wrapper {
    width: 120px;
    height: 60px;
    margin-right: 60px;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    
}

.avatar {
    height: 40px;
    width: 40px;

}

.avatar-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #ddd;
}


.logo-img {
    width: 60%;
    height: 100%;
    display: block;
    border-radius: 100%;
}

.header-nav-close {
    width: 32px;
}

.header-nav-close img {
    width: 100%;
    height: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;

}

.nav-item {
    width: 100px;
}

.nav-link {
    color: #000;
    font-size: 14px;
    transition: all .1s;
}
.nav-link:hover{
    font-size: 16px;
    /* font-weight: bold; */
}

.login-btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

.btn:hover {
    width: 100%;
    background: rgb(101, 143, 203);
    color: #fff;
    cursor: pointer;

}
/*head结束*/
.box-b{
    height: 50px;
    background:  rgb(87, 156, 241);
}
.box-b-d{
    font-size:15px;     
    padding-top:3px;    
}
.box-b-d i{
    font-size: 30px;
    color:#ffffff;
}
body {
    /*主体*/
    color: aliceblue;
    /*颜色*/
    font-family: 楷体;
    /*字体样式*/
    background:url(./img/bj.png);
    margin-top: 5%;
}

.footer {
    /*尾部*/
    clear: both;
    width: 100%;
    height: 70px;
    background-color: rgb(87, 156, 241);
    color: rgb(28, 41, 99);
    font: italic 14px/20px 宋体;
    text-align: center;
}
 
.footer p {
    /*尾部段落*/
    margin-top: 10px;
}
 
#fi1 {
    /*尾部图片*/
    width: 100px;
    height: 70px;
    float: right;
    padding: 0px;
    border-radius: 100%;
}
 

/*去顶部*/
.helper-wrapper {
    position: fixed;
    right: 30px;
    bottom: 50px;
}
.to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #ccc;
    width: 50px;
    height: 60px;
}
.to-top:hover {
    opacity: 0.8;
    box-shadow: 0 0 2px 2px #999;
}
.to-top-img {
    width: 40px;
}
.to-top-img img {
    width: 100%;
    height: 100%;
    display: block;
}
.to-top-title {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #000000;
    font-size: 13px;
}
/*去顶部结束*/

#lunbo {
    /*轮播设置*/
    height: 600px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    margin: 100px auto 0 ;
}
 
#photo {
    /*动画设置图片*/
    width: 5000px;
    height: 100%;
    animation: bj 10s linear infinite;
    /*动画*/
}
 
#photo img {
    /*图片设置*/
    display: block;
    float: left;
    width: 1000px;
    height: 100%;
    padding: 0px 0px 0px 0px;
}
 
/*轮播图动画*/
@keyframes bj {
    0%,
    20% {
        margin-left: 0px;
    }
    25%,
    40% {
        margin-left: -1000px;
    }
    45%,
    60% {
        margin-left: -2000px;
    }
    65%,
    80% {
        margin-left: -3000px;
    }
    85%,
    100% {
        margin-left: -4000px;
    }
}

