.personal-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.personal-wrapper{
    width: 1200px;
    display: flex;
    flex-direction: column;

}
.personal-top{
    height: 100px;
    display: flex;
    padding: 10px;

}
.general-info-avatar{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.general-info-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
.general-info-t-info{
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.person-name{
    font-size: 20px;
    margin-left: 5px;
}
.medal{
    display: flex;
}
.medal-img{
    width: 25px;
    height: 25px;
}
.medal-img img{
    width: 100%;
    height: 100%;
}
.base-info-head{
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    color: #2e2e2e;
    padding-left: 16px;
    border-bottom: 1px solid #999;
}
.base-info-content{
    padding: 32px 16px; 
}
.base-info-content-item{
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 30px;
    display: flex;
}
.content-show-left{
    width: 80px;
    margin-right: 40px;
    color: #555666;
    padding-left: 16px;
    display: flex;
   justify-content: space-between;
}

.content-show-right{
    color: #222226;
    margin-left: 60px;
}