.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrapper {
    width: 450px;
    height: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px 2px #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.register-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.username-wrapper {
    margin-bottom: 20px;
    font-size: 18px;
}

.password-wrapper {
    margin-bottom: 20px;
    font-size: 18px;

}

.repassword-wrapper {
    margin-bottom: 20px;
    font-size: 18px;
}

.agree-wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20px;
    color: #999;

}

#agree {
    margin-right: 5px;
}

.agreement,
.privacy,
.go-login {
    color: coral;
}

.register-btn {
    margin-bottom: 20px;

}

.register-btn {
    display: flex;
    width: 270px;
    background: skyblue;
    height: 32px;
    border-radius: 7px;
    justify-content: center;
    line-height: 32px;
}

.btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 3px 2px #ccc;
    cursor: pointer;
}


input {
    height: 28px;
    padding: 1px 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #ccc;
}

input:hover {
    border: 1px solid skyblue;
}